.background-full {
    background-color: #0a2556b8;
    min-height: 100vh;
}

.container-form {
    display: grid;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh;
}

.form {
    width: 400px;
    max-width: 300px;
    padding: 20px 40px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 10px 25px 35px 10px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 15px 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.form-forgot {
    float: right;
}

.btnOpcoes {
    width: 100%;
    border: 0.5px solid rgba(10, 33, 162, 0.493);
}

.ant-steps-item-title {
  font-size: 0.1rem; /* Adjust font size as needed */
}

.ant-steps-item {
  width: 650px; /* Adjust width as needed */
}